@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #e2e8f0;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.nav{
    background-color: white;
    display: flex;
    height: 100px;
    font-size: 2rem;
    align-items: center;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.247), 0 4px 6px -4px rgba(0, 0, 0, 0.521);
    padding: 20px;
}

.nav h1{
    margin: 0;
}

.main-content{
    display: flex;
    flex-direction: column;
}

.footer{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 20px;
}

footer{
   margin-top: auto;
}

.add-book{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.new-book{
    height: 100px;
    width: 150px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.247), 0 4px 6px -4px rgba(0, 0, 0, 0.521);
}

.new-book:hover{
    background-color: #334155;
    color: white;
}

.book-form{
    position: fixed;
    align-self: center;
    top: 30%;
    display: none;
}

.book-form form{
    color: white;
    background-color:#334155;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 20px;
    font-size: 1.5rem;
}

.book-form input{
    margin-bottom: 20px;
}

.book-form input[type=text],.book-form input[type=number] {
    padding: 10px;
    font-size: 1.2rem;
}

.book-form input:focus{
    outline: none;
}

.book-form button{
    cursor: pointer;
    width: 45%;
    height: 70px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
}

.book-form button:hover{
    background-color: #e2e8f0;
    color: black;
}

.form-buttons{
    display: flex;
    justify-content: space-between;
}

.close{
    background-color: #cc0000;
}

.enter{
    background-color: #8ebf42;
}

#haveRead{
    height: 30px;
    width: 30px;
}

.book-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.book-cards div{
    padding: 20px;
    background-color: white;
    font-size: 1.2rem;
    align-items: center;
    border-radius: 20px;
    text-transform: capitalize;
}